@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lato:wght@300;400;900&display=swap');


$base-font:14px;
$normal-font:18px;
$title-font:24px;
$heading-h1:64px;
$heading-h2:44px;
$heading-h3:32px;

//weights
$normal:400;
$mid:700;
//


$font-1:Galaxie Copernicus, serif;


